<mat-card> <!--ניצור את הטופס-->
    <h1>Select City</h1>
    <form #cityForm = "ngForm" (ngSubmit) = "onSubmit()" > <!--כאשר מתרחש האירוע סאבמיט על הפורמ הפונקצייה אוןסאבמיט תפעל-->
        <div> <!--נשתמש בעיצוב של רשימה נפתחת-->
            <mat-form-field appearance="fill">
                <mat-label>City Selected</mat-label>
                <!--מה שיופיע בתוך התיבה שמקלידים--><mat-select place-holder = "City" 
                    [(ngModel)] = "city"
                    name = "city"
                    required> <!--נוסיף אופציה של נדרש-->
                    <mat-option *ngFor="let city of cities" [value]="city.name"> <!--מה שיש בוואליו זה הערך שיישלח לשרת (הפרמטר חובה של היואראל)-->
                        {{city.name}} <!--האופציות שהמשתמש יראה בכפתור-->
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <!--נוסיף לכפתור אופציה, שאי אפשר יהיה לבחור בו כל עוד לא בחרו עיר-->
            <div>
                <button 
                    mat-raised-button [disabled] = "!cityForm.form.valid" 
                    color="primary"
                    [(ngModel)] = "lon"
                    name = "lon"
                    [(ngModel)] = "lat"
                    name = "lat" 
                    (click) = "classify()">
                    See the result for {{city}}
                </button>
              </div>
        </div>
    </form>
</mat-card>


<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> {{city}} </mat-card-title> <!--אם אין שגיאה נראה את הטמרטורה ונעגל ואותה--><!--נגדיר את העברת המידע מהיואראל, של העיר, כדי להציג את הטמפרוטרה שלה - הרצאה 4-->
    </mat-card-header>
    <mat-card-content>
        model:
        parameters:
        levels:
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  






