.example-card {
    max-width: 400px;
    margin:10px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  

  .whitelink1 {
    color: white; /* כדי שבעת מעבר עם העכבר ישתנה הסימון שלו לסימון של כפתור לחיץ*/
  }