<mat-card> <!--ניצור את הטופס-->
    <h1>City Form</h1>
    <form #cityForm = "ngForm" (ngSubmit) = "onSubmit()" > <!--כאשר מתרחש האירוע סאבמיט על הפורמ הפונקצייה אוןסאבמיט תפעל-->
        <div> <!--נשתמש בעיצוב של רשימה נפתחת-->
            <mat-form-field appearance="fill">
                <mat-label>City Selected</mat-label>
                <!--מה שיופיע בתוך התיבה שמקלידים--><mat-select place-holder = "City" 
                    [(ngModel)] = "city"
                    name = "city"
                    required> <!--נוסיף אופציה של נדרש-->
                    <mat-option *ngFor="let city of cities" [value]="city.name"> <!--מה שיש בוואליו זה הערך שיישלח לשרת (הפרמטר חובה של היואראל)-->
                        {{city.name}} <!--האופציות שהמשתמש יראה בכפתור-->
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <!--נוסיף לכפתור אופציה, שאי אפשר יהיה לבחור בו כל עוד לא בחרו עיר-->
            <button [disabled] = "!cityForm.form.valid" 
                type = "submit" mat-raised-button 
                color="primary">
                See temperatures for {{city}}
            </button> 
        </div>
    </form>
</mat-card>
