<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Our Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/predict" routerLinkActive="active" *ngIf = "(authService.getUser() | async)">Predict</a>
      <a mat-list-item routerLink="/seaCondition" routerLinkActive="active" *ngIf = "(authService.getUser() | async)">Sea Condition</a>
      <a mat-list-item routerLink="/signup" *ngIf = "!(authService.getUser() | async)">Sign-Up</a> 
      <a mat-list-item routerLink="/login" *ngIf = "!(authService.getUser() | async)">Login</a>
      <a mat-list-item (click) = "authService.logout()" *ngIf = "(authService.getUser() | async)">LogOut</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="titleCenter">Sailor Web App</span>
      <span class="spacer"></span><!-- כדי שיהיה מרווח בין הלינקים לכותרת "הלו-->
      <!--<a class="whitelink" routerLink="/login" *ngIf = "!(authService.getUser() | async)">Login</a>
      <a class="whitelink" routerLink="/signup"  *ngIf = "!(authService.getUser() | async)">Sign-Up</a> 
      <a class="whitelink1" (click) = "authService.logout()" *ngIf = "(authService.getUser() | async)">LogOut</a>-->
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
